<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KlontongPedia</title>
</head>
<body>
    who is login = <%= user.firstName%><br>
    <a href="/user">Profile</a>
    <a href="/logout">Logout</a>
    <a href="/login">Login</a>
    <a href="/sign-up">Sign-Up</a>
</body>
</html>