<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Library</title>
</head>

<body>
    <h1>Edit Shop Account</h1>

    <th>
            <form action="/shop/<%=data.id%>/update" method="POST">
                <br>
                <input type="text" name="name" placeholder="name" value="<%=data.name%>">
                <br><br>
                <input type="text" name="emailUser" placeholder="Email" value="<%=data.emailUser%>">
                <br><br>
                <input type="submit" value="Submit">
                <input type="submit" value="Cencel">
            </form>
    </th>
</body>

</html>